body{
    background-image: url("/img/njpark1.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    color:white;
}

h1{
    font-size: 100px;
    background-color:   rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top:100px;
}




 
